<style>
    .content {
      max-width: 500px;
      margin: auto;
    }

    #container {
        border: 2px darkred dashed;
        padding: 20px;
    }
</style>

<body class="content">
<h1>Welcome</h1>
<div id="container">
<p style="text-align: justify">Our app consumes kafka streams in order to 
    diplay the active domains available for a specific name entered from the keyboard.</p>
<p style="text-align: justify">It is a domain crawler based on microservices integrated with Kafka and microfrontends
    integrated with Angular.</p>
</div>
</body>